<%- include('partials/header') %>

    <div class="left-cont">
        <p>A one stop place for all your task managment needs. Here you can create, modify, delete and share or assign tasks with other people.</p>

    </div>

    <div class="vl"></div>
    

<%- include('partials/footer') %>